body {
  display: flex;
  font-size: 1.5rem;
}

.container {
  margin: auto;
}

h1 {
  color: rgb(44, 20, 131);
}

li {
  padding: 10px;
  margin: 5px;
  font-size: 1.5rem;
}

input {
  padding: 5px;
  margin-bottom: 25px;
}
